In [1]:
import numpy as np 
import pandas as pd
import os

In [2]:
df_ruddit = pd.read_csv('input/ruddit-jigsaw-dataset/ruddit_with_text.csv')[['comment_id', 'txt', 'offensiveness_score']]
df_ruddit = df_ruddit.loc[(df_ruddit.txt != '[deleted]') & (df_ruddit.txt != '[removed]')]
df_ruddit = df_ruddit.reset_index(drop=True)
df_ruddit.head()

,comment_id,txt,offensiveness_score
0,cza1q49,> The difference in average earnings between m...,-0.083
1,cza1wdh,"The myth is that the ""gap"" is entirely based o...",-0.022
2,cza2bw8,The assertion is that women get paid less for ...,-0.146
3,cza2iji,You said in the OP that's not what they're mea...,-0.083
4,cza2jj3,>Men and women are not payed less for the same...,-0.042

In [3]:
df_jigsaw_classification = pd.read_csv('input/jigsaw-toxic-comment-classification-challenge/re-ranking-jigsaw-toxic-comment-classification.csv')
df_jigsaw_classification.head()

,id,comment_text,y,similarity_score
0,0000997932d777bf,Explanation Why the edits made under my userna...,0.0,-0.1285
1,000103f0d9cfb60f,D aww He matches this background colour I m se...,0.0,-0.0366
2,000113f07ec002fd,Hey man I m really not trying to edit war It s...,0.0,0.2383
3,0001b41b1c6bb37e,More I can t make any real suggestions on impr...,0.0,-0.2054
4,0001d958c54c6e35,You sir are my hero Any chance you remember wh...,0.0,-0.5708

In [4]:
df_train = df_ruddit.copy()

In [5]:
df_train.drop('comment_id', axis=1, inplace=True)

In [6]:
df_train.head()

                                                 txt  offensiveness_score
0  > The difference in average earnings between m...               -0.083
1  The myth is that the "gap" is entirely based o...               -0.022
2  The assertion is that women get paid less for ...               -0.146
3  You said in the OP that's not what they're mea...               -0.083
4  >Men and women are not payed less for the same...               -0.042

In [7]:
df_jigsaw_classification.drop(['id', 'y'], axis=1, inplace=True)

In [8]:
df_jigsaw_classification.head()

                                        comment_text  similarity_score
0  Explanation Why the edits made under my userna...           -0.1285
1  D aww He matches this background colour I m se...           -0.0366
2  Hey man I m really not trying to edit war It s...            0.2383
3  More I can t make any real suggestions on impr...           -0.2054
4  You sir are my hero Any chance you remember wh...           -0.5708

In [9]:
df_jigsaw_classification= df_jigsaw_classification.rename(columns={"comment_text": "txt", "similarity_score": "offensiveness_score"})

In [10]:
df_train = pd.concat([df_train, df_jigsaw_classification], ignore_index=True)

In [11]:
df_train.txt=df_train.txt.apply(str)

In [12]:
df_train.to_csv("train.csv", index=False)